.cardes {
  flex: 0 0 28%;
  overflow: hidden;
  border: 2px solid black;
  padding: 15px;

  margin: 1%;
}
.caard {

  padding: 8px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
img {
 
  width: 100%;
  object-fit: cover;
  margin: 0 auto;
}

h4, p{
  margin: 5px;

}